@import  '../../styles.scss';

.slider-area2 {
    background: $primary-color;
}

.team-area .single-team .team-caption2 h3 a {
    color: $primary-color;
}

.team-area .single-team .team-caption2 p {
    color: $text-color-primary;
}